:root {
  --main-color: #e65a7d;
  --button-color: #e65540;
  --padding-top: 40px;
  --padding-bottom: 40px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  height: 3000px;
}
/* start scrollBar */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: white;
  box-shadow: 0 0 10px #ddd inset;
}
::-webkit-scrollbar-thumb {
  background-color: #d88096;
  border-radius: 10px;
  transition: .5s linear ;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}
/* end scrollBar */

.container {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

/* start button to top */
.button-to-top {
  position: fixed;
  z-index: 3;
  bottom: 3%;
  right: 1%;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 3px;
  cursor: pointer;
  color: white;
  display: none;
}

.button-to-top i {
  color: white;
  font-size: 20px;
}

@media (max-width: 767px) {
  .button-to-top {
    padding: 7px;
  }
}

@media (max-width: 480px) {
  .button-to-top {
    padding: 4px;
  }
}
/* end button to top */

/* start navbar */

.links .navbar .navbar-brand {
  color: black;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
  transition: 0.3s;
}
.links .navbar .navbar-brand:hover {
  color: var(--main-color);
}
.links .navbar .navbar-brand span {
  color: var(--main-color);
}

.links .navbar .nav-item {
  padding: 5px;
}

.links .navbar .nav-item .nav-link {
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: normal;
}

@media (max-width: 991px) {
  .links .navbar {
    background-color: white;
  }
}

.links .navbar .nav-item .nav-link.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.links .navbar .nav-item .nav-link:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  transition: 0.5s;
}

.links .navbar .navbar-toggler:focus {
  box-shadow: none;
}

.links .navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--main-color);
}
/* end navbar */

/* start landing-home */
.landing-home {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
.landing-home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
  opacity: 0.3;
}
.landing-home .carousel-item img {
  width: 100%;
  height: 600px;
  background-size: cover;
}
.landing-home .landing-home-info {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  position: absolute;
  text-align: center;
}
.landing-home .landing-home-info span {
  color: white;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.landing-home .landing-home-info h1 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}

.landing-home .landing-home-info a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: white;
  color: var(--button-color);
  border-radius: 20px;
  text-transform: capitalize;
  transition: 0.4s;
}
@media (max-width: 767px) {
  .landing-home .landing-home-info h1 {
    font-size: 20px;
  }
  .landing-home .landing-home-info a {
    padding: 5px 10px;
  }
}
.landing-home .landing-home-info a:hover {
  background-color: var(--button-color);
  color: white;
}
/* end landing-home */

/* start products */
.products {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
@media (max-width: 767px) {
  .products {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.products .product-content {
  position: relative;
}
.products .product-content img {
  background-size: cover;
  width: 100%;
  transition: 0.7s;
}
.products .col-lg-4:hover img {
  transform: scale(0.9);
}
.products .footerwear {
  margin-top: -140px !important;
}
@media (max-width: 991px) {
  .products .footerwear {
    margin-top: 0px !important;
  }
}
.products .col-lg-4 {
  margin-bottom: 20px;
}
.products a {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 50px;
  background-color: white;
  font-family: Montserrat-Regular;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  border-radius: 3px;
}
.products a:hover {
  background-color: var(--button-color);
  color: white;
}
.sing-up-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  color: black;
  text-align: center;
}
.sing-up-text h3 {
  text-transform: uppercase;
  font-family: Montserrat-Regular;
  font-weight: bold;
}
.sing-up-text p {
  line-height: 30px;
  color: #b59588;
}
.sign-up {
  background-color: black !important;
  color: white !important;
  border-radius: 20px !important;
}
@media (max-width: 767px) {
  .sign-up {
    width: 70%;
    display: inline-block;
    text-align: center;
  }
}
.sign-up:hover {
  background-color: var(--button-color) !important;
  color: white !important;
}
/* end products */
